!!  Xft fonts settings:
Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.gba:        rgb
Xft.autohint:   false
Xft.hintstyle:  hintsmedium
Xft.lcdfilter:  lcddefault

!!  General Color Scheme
! --> Curinga Maia
! Based on Manjaro Maia Nokto Theme
! From Manjaro i3 spin .Xresources

*.foreground:   #d8d8d8
*.background:   #222d31
*.fading:       8
*.fadeColor:    #000000
*.cursorColor:  #1abb9b

!!  Dark colors:
! Black
*.color0:   #222d31
! Red
*.color1:   #ab4642
! Green
*.color2:   #7e807e
! Yellow
*.color3:   #f7ca88
! Blue
*.color4:   #7cafc2
! Magenta
*.color5:   #ba8baf
! Cyan
*.color6:   #1abb9b
! White
*.color7:   #d8d8d8
!*.color7:   #d3d0c8

!!  Light Colors:
*.color8:   #585858
*.color9:   #f2777a
*.color10:  #8d8f8d
*.color11:  #ffcc66
*.color12:  #6699cc
*.color13:  #cc99cc
*.color14:  #66cccc
*.color15:  #f8f8f8
!*.color15:  #f2f0ec

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:  #f99157
*.color17:  #d27b53
*.color18:  #393939
*.color19:  #515151
*.color20:  #a09f93
*.color21:  #e8e6df

!!  Xterm Configuration:
Xterm*background:           #222d31
Xterm*foreground:           #d8d8d8
Xterm*pointerColor:         #1abb9b
Xterm*faceName:             JetBrains
Xterm*renderFont:           true
Xterm*faceSize:             9
Xterm*reverseVideo:         on
Xterm*SelectToClipboard:    true

!!  URxvt Configuration:
! Fonts
URxvt.font: xft:JetBrains Mono Medium:size=9
URXvt.BoldFont: xft:DejaVu Sans Mono:size=9
! font resizer
!URxvt.perl-ext-common:resize-font
!URxvt.keysym.C-minus:resize-font:smaller
!URxvt.keysym.C-plus:resize-font:bigger
!URxvt.keysym.C-0:resize-font:reset

! Appearences
URxvt.depth:                32
URxvt.background:           [100]#222d31
URxvt*scrollBar:            false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink:          true
URxvt*background:           black
URxvt*foreground:           grey
URxvt*saveLines:            5000

! Normal copy-paste keybindings without perl-ext
URxvt.iso14755:                 false
URxvt.keysym.Shift-Control-V:   eval:paste_clipboard
URxvt.keysym.Shift-Control-C:   eval:selection_to_clipboard

! Cursor word movement - Xterm escape codes, word by word movement
URxvt*altSendsEscape:               true
URxvt.keysym.Control-Left:          \033[1;5D
URxvt.keysym.Shift-Control-Left:    \033[1;6D
URxvt.keysym.Control-Right:         \033[1;5C
URxvt.keysym.Shift-Control-Right:   \033[1;6C
URxvt.keysym.Control-Up:            \033[1;5A
URxvt.keysym.Shift-Control-Up:      \033[1;6A
URxvt.keysym.Control-Down:          \033[1;5B
URxvt.keysym.Shift-Control-Down:    \033[1;6B
! Autocopy selection to clipboard
URxvt.clipboard.autocopy:           true
